/* html { 
  background: url(../img/fondo_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
/* body{
  height: 100%;
}  */
/* .fondo-foto{
 
overflow:hidden;
 position:fixed;
 width: 100%;
 background: url('../img/fondo_1.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 min-height: 110vh;

} */
/* .fondo-foto{

} */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;  
  }
}
/* @media(max-width: 1356px){
      .fondo-foto{
       height: 100vh; 
      }
}
@media(max-width: 1000px){
 .fondo-foto{
  height: 125vh;
 }
}
@media(max-width: 713px){
 .fondo-foto{
  height: 150vh;
 }
}
@media(max-width: 600px){
 .fondo-foto{
  height: 248vh;
 }
}
@media(max-width: 420px){
  .fondo-foto{
   height: 250vh;
  }
 }


 @media(max-height:700px){
  @media(max-width:420px){
 .fondo-foto{
   height: 250vh;
  }}
}
@media(max-height:568px){
  .fondo-foto{
    height: 300vh;
   }
 }
 @media(max-height: 420px){
  .fondo-foto{
    height:750vh;
  }
} */
.overlay,
.overlay-banda{
 position: absolute;
 margin-bottom:0px;
 margin-left: 0;
 /* height: 100%; */
 width: 100%;
/*
height: auto;
top:0;
bottom:0;  */
 background: rgba(36,155,179, .4);
}
nav{
 background-color:  #1FAFCC !important;
 color: #15788C;  
 overflow:hidden;
 width: 100vw;
}
nav ul li a {
 color: #15788C;
 font-weight: bolder;
 font-size: 1.5rem;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
 font-size: 3rem;
}
nav a i{
 color: #15788C;
}
.contiene{
 margin: 0 2rem;
}

.brand-logo{
  display: block;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
   display: inline-block; 
  height: 56px;
  line-height: 56px;
}
.contorno-logo{
 position: relative;
 background: url('../img/logoEclipse.png');
 background-size: cover;
 background-position: center;
 min-height: 239px;
 border: 6px solid #99946B;
 border-radius: 30px;
 padding: 3px 0;  
 ;
}
@media(max-width: 1069px){
  .contorno-logo{
    background: none;
    display:none;
  }
  .logoEclipse{
    display: inline;
  }
}
@media(min-width: 1069px){
  .logoEclipse{
    display: none;
  }
}
.colorete{
 position: absolute;
 top:0;
 left: 0;
 height: 100%;
 width: 100%;
 background: rgb(153,148,107,0.27);
 transition: ease all .8s;
}
.colorete:hover{
 background: rgb(153,148,107,0);

}
.section-hero .nomargin{
 margin-bottom: 0 !important;
}
section.section.section-hero{
 padding-bottom: 0 !important;
}
.section-hero h1{
 font-weight: bold;
 line-height: 3rem;
 margin: .5rem 0 0 0;
 color: #fff;
 padding-left: .75rem;
 font-size: 3rem;
}
@media(max-width: 320px){
  .section-hero h1{
    font-size: 2rem;
    line-height: 4rem;
  }
 }
 /* @media(max-height:568px){
  @media(max-width: 350px){
    .section-hero h1{
      min-height: 180vh;
    }
  }} */
.section-hero .col1{
 padding-left: 0.9rem;
}
.section-hero .btn-large.b1{
 background: #384666;
 width: 70%;
 position: relative;
 margin-bottom: 10px;

}
@media(max-width: 1160px){
 .section-hero .btn-large.b1{
  line-height: 28px;
 }
}
@media(max-width: 992px){
 .section-hero .btn-large.b1{
  line-height: 4rem;
 }
}
@media(max-width: 992px){
  .section-hero .btn-large.b1{
   line-height: 4rem;
  }
 }
.section-hero .btn-large.b1:hover{
 background: rgb(21,120,140)
}
.section-hero .btn-large.b2{
 background: #FF9840;
 width: 70%;
}
.section-hero .btn-large.b2:hover{
 background: rgb(251, 163, 85);
}
.viernes{
 color: rgb(255,152,64,.7);
 font-size: 4rem;
 font-weight: bolder;
}
.horas{
 color:rgb(232,197,58, .7);
 font-size: 3.5rem;
}
@media(max-width: 1200px){
 .section-hero h1{
   font-size: 2rem;
   line-height: 2.1rem;
 }
 .viernes, .horas{ 
  font-size: 3rem;
 }
 }
/* .overBtn{
 position: absolute;
 top:0;
 left: 0;
 height: 100%;
 width: 100%;
 background: rgba(68, 39, 13, 0.1);
} */
section.section-cards {
 max-height: 30vh;
}
section.section-cards .cards{
 height: 10% !important;
}
section.section-cards .cards .card.c1 .card-image .img{
 height: 11rem;
 background: url('../img/TRAGO6_varshesh-joshi-eUtbg2R9a9E-unsplash.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
}
section.section-cards .cards .card.c2 .card-image .img{
 height: 11rem;
 background: url('../img/FOOD2_eaters-collective-pLKgCsBOiw4-unsplash.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}
section.section-cards .cards .card.c3 .card-image .img{
 height: 11rem;
 background: url('../img/reservas.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
}
.card .card-content{
 font-size: 1.5rem;
 font-weight: 500;
}
.card.c1{
 background: rgb(255,152,64);
}
.card.c2{
 background: #E8C53A ;
}
.card.c1:hover.c1 .card-image .card-title::after{
 width: 120px;
 margin: 0;
}
.c1 a{
 background: rgb(232,197,58) ;
}
.c1 .card-image .card-title{
 color:  #99946B;
 font-weight: 700;
 font-size: 2rem;
}
.c1 .card-image .card-title::after{
 content: '';
 display: block;
 background-position: right right;
 height: 8px;
 width: 80px;
 background:#E8C53A; 
 margin-left: 1rem;
 transition: all 1s ease
}

/* card c2 */
.card.c2{
 background: #E8C53A ;
}
.card.c2:hover.c2 .card-image .card-title::after{
 width: 120px;
 margin: 0;
}
.c2 a {
 background: #99946B;
}
.c2 .card-image .card-title{
 color:  #FF9840 ;
 font-weight: 700;
 font-size: 2rem;
}
.c2 .card-image .card-title::after{
 content: '';
 display: block;
 background-position: right right;
 height: 8px;
 width: 80px;
 background:#99946B  ; 
 margin-left: 1rem;
 transition: all 1s ease
}
/* c3 */
.card.c3{
 background: #99946B;
}
.card.c3:hover.c3 .card-image .card-title::after{
 width: 120px;
 margin: 0;
}
.c3 a {
 background: #FF9840;
}
.c3 .card-image .card-title{
 color:  #E8C53A  ;
 font-weight: 700;
 font-size: 2rem;
}
.c3 .card-image .card-title::after{
 content: '';
 display: block;
 background-position: right right;
 height: 8px;
 width: 80px;
 background:#FF9840; 
 margin-left: 1rem;
 transition: all 1s ease
}
/* cards generales */
.card .card-content .conoce{
 color: #384666;
}
.card .card-content p{
 color: #ffff;
}

/* sideNav */
.side-nav .user-view, .side-nav .userView {
  position: inherit;
 padding: 32px 32px 0;
 margin-bottom: 8px;
 display: block
}
.side-nav{
 background: #1FAFCC;
}
.side-nav .user-view{
 background: #E8C53A;
}
.side-nav li a{
  color: #15788C;
  font-weight: bolder;
  font-size: 3rem;
 display: inline-block;
 width: 100%;
 height: 100%;
 justify-content: center;
 display: flex;
 
}
.side-nav li{
 padding: 5px;
 border-bottom: 3px solid  #15788C;
 text-align: center;
 transform: all ease 1s;
}
.side-nav .youtube{
 font-size: 2.78rem;
}
.side-nav .li1{
padding: 0;
margin: 0;
background-color: rgb(177, 167, 130); 
}
.side-nav .text a{
 font-size: 2rem;
 line-height: 4rem;
}
/* FECHA */
.fecha, .fechi{
  font-size: 1.3rem;
}
.fecha span, .fechi span {
  font-weight: 700;
}
.nav-wrapper .falt{
  line-height: 3rem;
}
.fecha span:first-child::before,
.fechi   span:first-child::before {
     display: none; 
}
nav  ul li:nth-child(2) span{
  color: #FF9840;
  font-size: 2rem;
}
nav  ul li:nth-child(2) a{
  color: #E8C53A; 
}
nav  ul li:nth-child(1) a{
  color: #FF9840; 
  text-transform: uppercase;
  font-weight: bolder;

}

/* BEBIDAS */
  @media(max-width: 662px){
 
    nav  ul li:nth-child(2) a,
    nav  ul li:nth-child(1) a{
      display: none;
    }
    .paraqueFechaSeVeaEnSm{
      display: inline-block;
      /* min-height: 100px; */
      text-align: center;
      /* margin-bottom: 20px; */
    }
   
    .paraqueFechaSeVeaEnSm .fechi span{
      color: #E8C53A;
    }
   
    .paraqueFechaSeVeaEnSm a,
    .paraqueFechaSeVeaEnSm p{
      color: #FF9840;
      font-size: 2rem;
      margin: 0;
      display: inline-block;
      /* height: 200px; */
    }
  }
  @media(min-width:662px){
    
    .paraqueFechaSeVeaEnSm{
      display: none;

    }
  }

/* fondo fixed */
img.bebidas {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.bebidas {
    left: 50%;
    margin-left: -512px;  
  }
}


  /* Fondo no fixed */
/* .fondo-foto-bebidas{
  position: relative;
  background: url('../img/bebidasFondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200vh;

 }

 @media(max-width: 1356px){
  .fondo-foto-bebidas{
   height: 110vh;
  }
}
@media(max-width: 1088px){
.fondo-foto-bebidas{
height: 260vh;
}
}
@media(max-width: 995px){
.fondo-foto-bebidas{
height: 320vh;
}
}

@media(max-width: 664px){
  .fondo-foto-bebidas{
  height: 400vh;
  }
  }
@media(max-width: 600px){
.fondo-foto-bebidas{
height: 950vh;
}
}
@media(max-height:650px){
  @media(max-width: 390px){
    .fondo-foto-bebidas{
    height: 740vh;
    }
  }}

/* iphone 5 */
@media(max-height:568px){
  @media(max-width: 350px){
    .fondo-foto-bebidas{
      height: 810vh;
    }
  }} */
.section .section-card-bebidas{
height: 100px;
  overflow: hidden;
}
 .section-cards-bebidas .card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -10px;
  bottom: 0;
  width: 123%;

}
.section-cards-bebidas .card .card-image .acomoda1{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -177px;
  bottom: 0;
  width: 123%;
}
.section-cards-bebidas .card .card-image .acomoda2{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -273px;
  bottom: 0;
  width: 123%;
}
.section-cards-bebidas .card .card-image .acomoda3{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -165px;
  bottom: 0;
  width: 123%;
}
.section-cards-bebidas .card .card-image .acomoda4{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -125px;
  bottom: 0;
  width: 123%;
}
@media(max-width: 810px){
  .section-cards-bebidas .card .card-image .acomoda2{
    top: -190px;
  }
}
@media(max-width: 600px){
  .section-cards-bebidas .card .card-image .acomoda2{
    top: -190px;
    
    height: 590px;
  }
  .section-cards-bebidas .card .card-image .acomoda1{
    top: -136px;
    height: 590px;
  }
  .section-cards-bebidas .card .card-image .acomoda4{
    top: -33px;
  }
}
@media(max-width: 745px){
  .section-cards-bebidas .card .card-image .acomoda1{
    top: -136px;
  }
}
.nav-bebidas ul{
  transition: ease all .8s;
}
 .section-cards-bebidas .card-image{
    max-height: 170px;
    overflow: hidden;     
    transition: ease all .5s;
 }
 /* .section-cards-bebidas .card-image:hover{
   max-height: 300px;
 } */
 @media(max-width: 600px){
  .section-cards-bebidas .card-image{
    max-height: 259px;
    overflow: hidden;     
 } 
 }
 .section-hero-bebidas h1{
   font-size: 8rem;
   font-weight: bold;
   color: #E8C53A;
   text-transform: uppercase;
   letter-spacing: 20px;
  
 }
 /* @media(max-width:636px){
  .section-hero-bebidas h1{
   
  }
 } */
 @media(max-width: 600px){
  .section-hero-bebidas h1{
    font-size: 7.3rem;
    letter-spacing: 2px;
    text-align: center;
  } 
 }
@media(max-width: 545px){
  .section-hero-bebidas .right-align h1{
    font-size: 5.5rem;
  }
 }

@media(max-width: 430px){
  .section-hero-bebidas .right-align h1{
    font-size: 4rem;
  }
 }
@media(max-width: 330px){
  .section-hero-bebidas .right-align h1{
    font-size: 3.5rem;
  }}
 .section-hero-bebidas h1::after{
  content: '';
  display: block;
  background-position: right right;
  height: 8px;
  width: 70%;
  background: #99946B; 
  margin-left: 19%;
  transition: all 1s ease;
 }
 @media(max-width: 430px){
  .section-hero-bebidas h1::after{
   margin: auto;
  }
 }
 .section-hero-bebidas:hover.section-hero-bebidas h1::after{
  width: 100%;
  margin-left: 0;
 }
 @media(max-width: 600px){
  .section-hero-bebidas h1{
    font-size: 7.3rem;
    letter-spacing: 8px;
    text-align: center;
  } 
 }
 .disNon{
   display: none;
   opacity: 0;
 }
 .section-cards-bebidas .row{
   width: 1005;
   max-height: 400px;
   display:block;
 }
 .section-cards-bebidas .card .card-image .card-title{
   font-weight: 500;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
 }
 .section-cards-bebidas .card-action{
   padding: 10px 16px;
   display: flex;
 }
 .section-cards-bebidas .card-action a{
 
  
  display: inline-block;
 
 }
 .card-action .actions{
   width: 100%;
 }
 .section-cards-bebidas .card-action .actions a:first-child{
  font-weight: 700;
  letter-spacing: 2px;
  color:rgba(254, 154, 66,0.8)!important;
  font-size: 1.5rem;
 }
 .card-action .actions a:nth-child(2) {
  color: rgb(250, 82, 82)!important;
}
.card-action .actions a:nth-child(2):hover{
  color: rgb(245, 146, 146)!important;
}
 .card-action .actions a:last-child{
   margin-right: 0!important;
   color: rgb(71, 243, 71)!important;
 }
 .card-action .actions a:last-child:hover{
  color: rgb(156, 241, 156)!important;
 }
 .section-cards-bebidas .col{
   margin-bottom: 5px;
 }
 /* footer */
 .overlay .section-footer,
 .overlay-banda .section-footer{
   /* position: absolute;
   bottom: 0;
   left: 0; */
   width: 100%;
  
 }
 .overlay .section-footer .row,
 .overlay-banda .section-footer .row{
   width: 100%;
 }
 .overlay .section-footer .row .col:nth-child(2),
 .overlay-banda .section-footer .row .col:nth-child(2){
   color: #384666;
 }
 .overlay .section-footer img,
 .overlay-banda .section-footer img{
   width: 145px;
   height: 42px;
   padding-left: 4vw;
   margin-bottom:20px;
 }
 .section-footer .valign-wrapper{
   margin-bottom: 0px;
 }
 @media(max-width: 845px){
  .section-footer .valign-wrapper{
  margin-bottom: 98px;

}
 }
 
 /* FAB */
 .fixed-action-btn ul li a{
   background: #384666!important;
 }
 .fixed-action-btn a{
   background: #FF9840;
 }
 /* banda */
 .section-hero-banda{
   margin-top: 60px;
 }
 /* .overlay-banda{
   height: 100vh;
 } */
 @media(max-width: 663px){
  .overlay-banda{
    height: 140vh;
  }
 }
 @media(max-width: 400px){
   .overlay-banda{
    height: 130vh;
  }
 }
 /* COmidas */

/* foto con position fixed */
img.comidas {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.comidas {
    left: 50%;
    margin-left: -512px;  
  }
}





 /* fondo sin positio fixed */
 /* .fondo-foto-comidas{
  position: relative;
  background: url('../img/comidasFondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 height: 200vh;
 }
 @media(max-width: 718px){
   .fondo-foto-comidas{
     height: 300vh;
   }
 }
 @media(max-width: 600px){
  .fondo-foto-comidas{
    height: 650vh;
  }
}
@media(max-height:568px){
@media(max-width: 350px){
  .fondo-foto-comidas{
    height: 700vh;
  }
}} */
 .section-hero-comidas h1{
  font-size: 8rem;
  font-weight: bold;
  color: #FF9840;
  text-transform: uppercase;
  letter-spacing: 20px;
}
@media(max-width:664px){
 .section-hero-comidas h1{
   letter-spacing: 10px;
 }
}
@media(max-width: 600px){
  .section-hero-comidas h1{
    font-size: 7.3rem;
    letter-spacing: 2px;
    text-align: center;
  } 
 }
@media(max-width: 545px){
  .section-hero-comidas .right-align h1{
    font-size: 5.5rem;
  }
 }

@media(max-width: 430px){
  .section-hero-comidas .right-align h1{
    font-size: 4rem;
  }
 }
@media(max-width: 330px){
  .section-hero-comidas .right-align h1{
    font-size: 3.5rem;
  }}
.section-hero-comidas h1::after{
 content: '';
 display: block;
 background-position: right right;
 height: 8px;
 width: 70%;
 background: #E8C53A; 
 margin-left: 19%;
 transition: all 1s ease;
}
@media(max-width: 664px){
.section-hero-comidas .right-align{
  max-height: 155px;
}}
.section-hero-comidas:hover.section-hero-comidas h1::after{
 width: 100%;
 margin-left: 0;
}


.overla{
  position: relative;
}
.capaFoto{
  position: absolute;
 top:0;
 left: 0;
 height: 100%;
 width: 100%;
 background: rgba(0,0,0, .4);
z-index: 0.2;

}
.card-image img{
  z-index: 0.2!important;
  position: absolute;
}
/* @media(max-width:636px){
  .section-hero-comidas h1{
    margin-top: 230px;
  }
 } */
 /* Llegar */


/* fixed */
img.llegar {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.llegar {
    left: 50%;
    margin-left: -512px;  
  }
}




 /* no fixed */
 /* .fondo-foto-llegar{
  position: relative;
  background: url('../img/comoLlegar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150vh;
 }
 @media(max-width: 663px){
  .fondo-foto-llegar{
    min-height: 200vh;
  }
} @media(max-height:650px){
  @media(max-width: 390px){
    .fondo-foto-llegar{
      min-height: 150vh;
    }
  }}
  @media(max-height:568px){
  @media(max-width: 350px){
    .fondo-foto-llegar{
      min-height: 180vh;
    }
  }} */
 .section-hero-llegar h1{
  font-size: 8rem;
  font-weight: bold;
  color: #FF9840;
  text-transform: uppercase;
  letter-spacing: 20px;
 
}
@media(max-width:664px){
 .section-hero-llegar h1{
   
   letter-spacing: 10px;
 }
}
@media(max-width: 600px){
  .section-hero-llegar h1{
    font-size: 7.3rem;
    letter-spacing: 2px;
    text-align: center;
  } 
 }
@media(max-width: 545px){
  .section-hero-llegar .right-align h1{
    font-size: 5.5rem;
  }
 }

@media(max-width: 430px){
  .section-hero-llegar .right-align h1{
    font-size: 4rem;
  }
 }
@media(max-width: 330px){
  .section-hero-llegar .right-align h1{
    font-size: 3.5rem;
  }}
.section-hero-llegar h1::after{
 content: '';
 display: block;
 background-position: right right;
 height: 8px;
 width: 70%;
 background: #E8C53A; 
 margin-left: 19%;
 transition: all 1s ease;
}
.section-hero-llegar:hover.section-hero-llegar h1::after{
 width: 100%;
 margin-left: 0;
}
@media(max-width: 600px){
 .section-hero-llegar h1{
   font-size: 7.3rem;
   letter-spacing: 2px;
   text-align: center;
 } 
}
.card-hijos .card-action a{
  display: inline-block;
 
  text-align: center;

}
.card-hijos .card-action a i{
 font-size: 4rem;
 text-align: center;
}
/* foto con fixed */
img.somos {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.somos {
    left: 50%;
    margin-left: -512px;  
  }
}


/* fondo sin fixed */
/* .fondo-foto-somos{
  position: relative;
  background: url('../img/comoLlegar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 230vh;
  
 }
 @media(max-width: 666px ){
  .fondo-foto-somos{
    min-height: 230vh;
  }
 }
 @media(max-width: 600px ){
  .fondo-foto-somos{
    min-height: 350vh;
  }
 }
@media(max-height: 420px){
  .fondo-foto-somos{
    height:750vh;
  }
} */
 /* dj */
 .fondo-foto-dj{
  position: relative;
  background: #15788C;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 210vh;
 }
 @media(max-width: 666px ){
  .fondo-foto-dj{
    min-height: 230vh;
  }
 }
 @media(max-width: 600px ){
  .fondo-foto-dj{
    min-height: 350vh;
  }
 }
 @media(max-height:568px){
  @media(max-width: 350px){
    .fondo-foto-dj{
      min-height: 300vh;
    }
  }}